@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* *browser reset Properties */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  position: relative;
  /* overflow-x: hidden; */
}
ol,
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
strong {
  font-weight: bold;
}

label,
input[type="file"] {
  cursor: pointer;
}

input,
select,
textarea {
  border: 0;
  border-radius: 0;
  margin: 0;
}

button,
input[type="button"],
input[type="submit"] {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* imports and variables */

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  /* theme color */
  --primary: #47b5ff;
  --primary-light: #edf8ff;
  --primary-dark: #06283d;
  --secondary-color: #aa8b56;

  /* gray colors */
  --gray-100: #f3f4f5;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-700: #374151;

  /* text colors */
  --white: #ffffff;
  --black: #171717;
  --secondary-text: #444f67;

  /* Semantic Colors */
  --success: #16a34a;
  --info: #009ddb;
  --warning: #f4dd0c;
  --danger: #dc2626;
}

/* utlity class */

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1536px;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 90%;
    max-width: 640px;
  }
}

.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
/* typography */
h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
}
h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
h5 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}
.subtitle-1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.subtitle-2 {
  font-size: 18px;
  font-weight: 600;
}
.body-1 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.body-2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.display{
  display: block !important;
}
.flex{
  display: flex !important;
}
/* button */
.btn_primary {
  font-size: 16px;
  background-color: var(--primary);
  padding: 12px 24px;
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
}
.btn_primary:hover {
  background-color: var(--primary-dark);
}
.btn_primary_dark {
  font-size: 16px;
  background-color: var(--primary-dark);
  padding: 12px 24px;
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
}
.btn_secondary {
  font-size: 16px;
  border: 2px solid var(--primary);
  padding: 12px 24px;
  font-weight: 500;
  color: var(--primary);
  border-radius: 4px;
}
.btn_secondary:hover {
  background-color: var(--primary);
  color: var(--white);
}
.btn_secondary_dark {
  font-size: 16px;
  border: 2px solid var(--primary-dark);
  padding: 12px 24px;
  font-weight: 500;
  color: var(--primary-dark);
  border-radius: 4px;
}
.btn_secondary_dark:hover {
  background-color: var(--primary-dark);
  color: var(--white);
}
.btn_read_more {
  color: var(--primary);
  font-size: 14px;
  font-weight: 500;
}
.btn_read_more:hover {
  color: var(--primary-dark);
}

.bg-color {
  background-color: var(--primary-light);
}

#Our_Service {
  padding: 32px 0;
}
.section_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_subtitle-white {
  padding: 6px 20px;
  border-radius: 4px;
  color: var(--primary-dark);
  background-color: var(--white);
}
.section_title_container h4 {
  color: var(--primary-dark);
  margin-top: 16px;
}
/* ============================= Header ========================== */
.mobile_menu{
  display: none;
}
.menu_btn{
  display: none;
}
.desktop_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.logo_container {
  height: 64px;
}
.logo_container img {
  height: 100%;
}
.header_menu {
  display: flex;
  gap: 36px;
}
.header_menu a {
  color: var(--primary-dark);
  font-weight: 500;
}
.header_menu a:hover {
  color: var(--primary);
}
.header_menu li:hover > .header_submenu {
  display: flex;
}
.header_submenu {
  position: absolute;
  top: 58px;
  left: 542px;
  background-color: #fff;
  padding: 16px;
  display: none;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/* ============================= Header ========================== */

/* ============================= Hero ========================== */

.hero_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero_left_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_left_container span {
  color: var(--primary);
}
.site_short_info p {
  color: var(--secondary-text);
  width: 60%;
  margin: 24px 0;
}
.hero_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.extra_img_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.hero_img_container {
  width: 80%;
}
.hero_img_container img {
  width: 100%;
  height: auto;
}

/* ============================= Hero ========================== */

/* ============================= service ========================== */

.service_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin: 24px 0;
}
.service_card {
  background-color: var(--white);
  padding: 24px;
  padding-bottom: 48px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all;
  transition-duration: 300ms;
}
.service_card:hover {
  border-bottom: 3px solid var(--primary-dark);
  transform: translateY(-6px);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.service_card:hover > .icon_container {
  background-color: var(--primary-dark);
}
.service_card h6,
.service_card p {
  text-align: center;
}
.icon_container {
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--primary-light);
  margin-bottom: 24px;
}
.service_card h6 {
  margin-bottom: 12px;
  color: var(--primary-dark);
}
.service_card p {
  margin-bottom: 48px;
  width: 80%;
  color: var(--secondary-text);
}
.icon_container i {
  font-size: 36px;
  color: var(--primary);
}

/* ============================= service ========================== */

/* ============================= achievement ========================== */

.achievement_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 24px 0;
  gap: 32px;
}

.achievement_grid_details {
  padding-top: 40px;
}

.achievement_grid_details_title span {
  color: var(--info);
}

.achievement_grid_details_title {
  padding-bottom: 20px;
  line-height: 2;
}

.achievement_grid_details_description {
  padding-bottom: 20px;
}

.achievement_grid_details_card {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 20px;
  width: 50%;
  flex-wrap: wrap;
}

.achievement_grid_details_single_card {
  width: 172px;
  height: 88px;
  border-radius: 5px;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.achievement_grid_details_single_card h6 {
  color: var(--info);
}

.ac_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 660px;
}

.grid_1 {
  background-color: var(--primary-dark);
  color: var(--white);
  text-align: center;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.grid_2 {
  grid-area: 3 / 1 / 8 / 2;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.grid_2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid_3 {
  width: 100%;
  grid-area: 1 / 2 / 8 / 3;
  border-radius: 4px;
  overflow: hidden;
}
.grid_3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid_4 {
  width: 100%;
  grid-area: 8 / 1 / 11 / 3;
  border-radius: 4px;
  overflow: hidden;
}
.grid_4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* .achievement_grid_img_1 {
  grid-area: 1 / 2 / 2 / 3;
}

.achievement_grid_img_2 {
  grid-area: 1 / 1 / 2 / 2;
}

.achievement_grid_img_3 {
  grid-area: 2 / 1 / 3 / 3;
} */

.achievement_grid_img img {
  width: 100%;
  height: 100%;
}

.achievement_grid_img_2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #fff;
}

.achievement_grid_img_support {
  width: 100%;
  height: 20%;
  background-color: var(--primary-dark);
  border-radius: 5px;
  padding-bottom: 10px;
  gap: 10px;
}

.achievement_grid_img_support h6 {
  font-size: 16px;
}

.achievement_grid_img_support p {
  font-size: 14px;
}

/* ============================= achievement ========================== */

/* ============================= Medicine Shop ========================== */

#Medicine_shop {
  margin-top: 75px;
  margin-bottom: 50px;
}

.medicine_card_grid {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  row-gap: 40px;
}

.single_medicine_card {
  width: 100%;
  max-height: 240px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.single_medicine_card:hover > .medicine_card_add_cart {
  display: block;
}

.medicine_card_img {
  width: 100%;
  height: 80%;
  max-height: 176px;
  border-radius: 5px;
}

.medicine_card_img img {
  width: 100%;
  height: 100%;
  max-height: 160px;
  border-radius: 5px;
}

.medicine_card_add_cart {
  width: 100%;
  height: 10%;
  padding: 0;
  background-color: var(--primary);
  border-radius: 0 0 5px 5px;
  position: relative;
  top: -15px;
  display: none;
}

.medicine_card_add_cart a {
  font-size: 14px;
  color: var(--white);
  padding: 10%;
}

.medicine_name_and_price {
  width: 100%;
  text-align: center;
}

.medicine_name_and_price h6 {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-dark);
}

.medicine_name_and_price p {
  font-size: 14px;
  color: var(--primary-dark);
}

/*




 */

.medicine_shop_see_more_btn {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.medicine_shop_see_more_btn a {
  padding: 8px 8px;
  background-color: var(--primary);
  border-radius: 5px;
  color: #fff;
}

.section_subtitle-colored {
  padding: 6px 20px;
  border-radius: 4px;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

/* ============================= Medicine Shop ========================== */

/* ============================= Blogs ========================== */

#Blogs {
  padding: 32px 0;
}

.blog_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 24px 0;
}

.single_blog_card {
  width: 100%;
  max-width: 375px;
  max-height: 420px;
  background-color: var(--white);
  padding-bottom: 25px;
  border-radius: 5px;
}

.single_blog_card_img {
  width: 100%;
  height: 50%;
}

.single_blog_card_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.single_blog_card_details {
  width: 90%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single_blog_card_details a {
  font-size: 16px;
}
.blogger_name {
  display: flex;
  gap: 5px;
}

.single_blog_card_details h6 {
  font-size: 18px;
}

.single_blog_card_details i {
  color: var(--primary);
}

.single_blog_card_details p {
  font-size: 14px;
  line-height: 1.5;
}

.blog_card_read_more {
  color: var(--primary);
}

/* ============================= Blogs ========================== */

/* ============================= Footer ========================== */

.desktop_footer {
  background-color: var(--primary-dark);
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer_about_us {
  width: 100%;
}

.footer_logo {
  width: 100%;
}

.footer_logo img {
  width: 20%;
}

.footer_about_us_details {
  padding-top: 30px;
  color: var(--white);
  font-size: 14px;
}

.footer_top_service h6 {
  font-size: 18px;
  color: var(--white);
}

.footer_top_service ul li a {
  color: var(--white);
  font-size: 14px;
  line-height: 2.5;
}

.footer_contact_details ul li p {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}
.footer_contact_details ul li p span {
  font-weight: normal;
}

.bottom_footer {
  background-color: var(--primary);
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.footer_bottom a {
  color: var(--white);
  font-size: 14px;
}

#developed_by {
  color: var(--primary-dark);
}

/* ============================= Footer ========================== */

/* ============================= category ========================== */
/* filter */
.cross_btn{
  display: none;
}
.mobile_filter_container{
  display: none;
}
.price_filter {
  width: 100%;
}
.price_inputs {
  margin-top: 12px;
  width: 100%;
  display: flex;
  gap: 16px;
}
.price_input input {
  width: 96%;
  margin-top: 12px;
  padding: 6px;
  padding-right: 0;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
}
.preference_container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
.checkbox_input {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  border-color: var(--gray-400);
  color: var(--primary);
}
.preference_container > label,
.sort_by_options > label {
  color: var(--gray-700);
}
.sort_by_options {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.category_grid {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}
.doctor_img_info{
  display: flex;
  gap: 16px;
}
.location_search_container {
  display: flex;
  justify-content: space-between;
}
.search_container {
  display: flex;
}
.search_container input {
  border: var(--primary) 1px solid;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
}
.search_container button {
  border-radius: 0 4px 4px 0;
}
.doctors_card {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 30% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  /* background-color: var(--gray-100); */
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.doctors_card:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.img_part_container {
  display: flex;
  align-items: center;
  width: 148px;
}
.doctors_card_img_container {
  width: 100%;
  height: -moz-available;
  aspect-ratio: 1/1;
}
.doctors_card_img_container img {
  width: 100%;
  height: 100%;
}
.name_info,
.work_info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}
.experience_container {
  display: flex;
  justify-content: space-between;
}
.work_info {
  padding: 0 6px;
}
.price_info {
  background-color: var(--gray-100);
  padding-left: 48px;
  margin: -16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price_info h4 {
  color: var(--primary);
}
.text-second {
  color: var(--gray-700);
}
.text-third {
  color: var(--gray-400);
  font-weight: 300;
}
.total_experience > .body-1 {
  font-weight: 700;
  font-size: 14px;
}
/* ============================= category ========================== */

/* ============================= blog ========================== */

.blog_page_container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 64px;
  justify-items: stretch;
  align-items: stretch;
}

.blog_details h2 {
  font-size: 48px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
}
.blog_page_img_container {
  width: 100%;
  margin-bottom: 36px;
}
.blog_page_img_container img {
  width: 100%;
  height: auto;
}
.blog_additional_information_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.date_author {
  display: flex;
  gap: 6px;
  align-items: center;
}
.date_author h6 {
  font-weight: 600;
}
.date_author p {
  color: var(--primary);
}
.blog_text_editor_content {
  line-height: 24px;
  font-size: 16px;
  color: var(--gray-700);
}
.more_blog h4 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 3px solid #000;
  margin-bottom: 24px;
}
.more_blog_container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 24px;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-200);
}
.more_blog_img_container {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  overflow: hidden;
}
.more_blog_img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more_blog_description h6 {
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
}
.more_blog_description p {
  line-height: 22px;
  color: var(--gray-700);
  font-size: 14px;
}

/* ============================= blog ========================== */

/* ========================== hovering animation ============================= */
.hero__thumb {
  position: absolute;
}
.hero__thumb img {
  max-width: 80%;
}
.hero .pos1 {
  top: 16%;
  right: 10%;
}
.pos1 {
  animation-name: pos1_anim;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  top: 15%;
}
.pos2 {
  animation-name: pos2_anim;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  bottom: 10%;
}
.pos3 {
  animation-name: pos3_anim;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.pos4 {
  animation-name: pos4_anim;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  right: 0;
}

.pos5 {
  animation-name: pos5_anim;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
@keyframes pos1_anim {
  0% {
    left: 5%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 5%;
  }
}

@media (max-width: 550px) {
  @keyframes pos1_anim {
    0% {
      right: -20%;
    }
    50% {
      right: -5%;
    }
    100% {
      right: -20%;
    }
  }
}

@keyframes pos2_anim {
  0% {
    right: -5%;
  }
  50% {
    right: 5%;
  }
  100% {
    right: -5%;
  }
}

@media (max-width: 550px) {
  @keyframes pos2_anim {
    0% {
      left: 18%;
    }
    50% {
      left: 25%;
    }
    100% {
      left: 18%;
    }
  }
}

@keyframes pos3_anim {
  0% {
    top: 33%;
  }
  50% {
    top: 38%;
  }
  to {
    top: 33%;
  }
}

@media (max-width: 550px) {
  @keyframes pos3_anim {
    0% {
      right: -20%;
    }
    50% {
      right: -30%;
    }
    100% {
      right: -20%;
    }
  }
}

@keyframes pos4_anim {
  0% {
    top: 38%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 38%;
  }
}

@media (max-width: 550px) {
  @keyframes pos4_anim {
    0% {
      top: 70%;
      left: -0%;
      right: inherit;
    }
    50% {
      top: 70%;
      left: 10%;
      right: inherit;
    }
    100% {
      top: 70%;
      left: 0%;
      right: inherit;
    }
  }
}

@keyframes pos5_anim {
  0% {
    bottom: 19%;
  }
  50% {
    bottom: 28%;
  }
  100% {
    bottom: 19%;
  }
}

@media (max-width: 550px) {
  @keyframes pos5_anim {
    0% {
      left: -12%;
    }
    50% {
      left: 0%;
    }
    100% {
      left: -12%;
    }
  }
}
/* ========================== hovering animation ============================= */

/* ========================== Responsive ============================= */

@media (max-width: 1536px) {
  .achievement_grid_details_card {
    width: 100%;
  }
  .header_submenu{
    left: 300px;
  }
}
@media (max-width: 1280px) {
  .service_grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .cross_btn {
    display: block;
    font-size: 24px;
    width: 36px;
    height: 36px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    right: -16px;
    top: 24px;
  }
  .mobile_filter_container{
    display: block;
  }
  .location_btn{
    display: none;
  }
  .filter_sercion {
    display: none;
    position: fixed;
    background-color: #fff;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 75%;
    padding: 16px;
    box-shadow: 22px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  .category_grid {
    display: block;
  }
  .header_menu > .body-1{
    font-size: 12px;
  }
  .header_submenu > .body-2{
    font-size: 11px;
  }
  .pos1,
  .pos2,
  .pos3,
  .pos4,
  .pos5 {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  .header_menu,.login_btn{
    display: none;
  }
  .menu_btn{
    display: block;
  }
  .mobile_menu{
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .mobile_menu li{
    padding: 12px;
    border-bottom: 1px solid var(--gray-200);
    width: 100%;
    text-align: center;
  }
  .menu_btn{
    font-size: 24px;
  }
  .doctors_card {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .service_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .price_info {
    padding: 16px 0;
    align-items: center;
  }
  .achievement_grid_details_card {
    justify-content: space-between;
  }
  .achievement_grid_details_single_card {
    width: 152px !important;
  }
  .hero_grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero_left_container {
    text-align: center;
  }

  .site_short_info p {
    width: 100%;
  }
  .achievement_grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .achievement_grid_img {
    padding-left: 0;
  }

  .medicine_card_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog_card_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .search_container{
    width: 100%;
  }
  .search_container input{
    width: 100%;
  }
  .location_search_container{
    flex-direction: column;
    gap: 12px;
  }
  .pos1,
  .pos2,
  .pos3,
  .pos4,
  .pos5 {
    width: 50%;
  }
  .pos5 {
    top: 20%;
  }
  .pos1 {
    top: 50%;
  }
  .pos3 {
    top: 30%;
  }
  .pos4 {
    bottom: 40%;
  }
  .pos2 {
    bottom: 0;
  }

  .achievement_grid_details_single_card {
    width: 152px;
  }

  .service_grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .medicine_card_grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .blog_card_grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_bottom {
    padding: 10px;
  }
  .footer_bottom a {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .service_grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .achievement_grid_details_single_card {
    width: 152px !important;
    height: 80px !important;
  }
  .footer_bottom a {
    display: flex;
    flex-direction: column;
  }
}
